@layer theme {
    @import "tailwindcss/theme.css";
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  
  @layer base {
    .twp {
      @import "tailwindcss/preflight.css";
    }
  
    :root {
      --font-inter: "Inter", sans-serif;
    }
  
    .no-twp {
      *,
      ::after,
      ::before,
      ::backdrop,
      ::file-selector-button {
        all: revert-layer;
      }
    }
    * {
      font-family: var(--font-inter);
    }
  }
  
  @layer components;
  
  @layer utilities {
    @import "tailwindcss/utilities.css";
  }
  
  @media (max-width: 1024px) {
    .collection-list .table {
      width: 100%;
      left: 0;
      padding-left: 0;
    }
  
    .collection-list .table:after {
      padding-right: 0;
    }
  }